@page "/"

<h1>Danh sách đơn hàng</h1>
<div class="col-lg-12 control-section">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
            <NavLink href="addorder">
                <button class="btn btn-primary">Thêm đơn hàng</button>
            </NavLink>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="table-responsive">
            @if (orders.Count == 0)
            {
            <div class="text-center">
                <p><em>Empty...</em></p>
            </div>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Tình trạng</th>
                            <th class="text-center">ID</th>
                            <th class="text-center">CTV</th>
                            <th class="text-center">Tên KH</th>
                            <th class="text-center">Số ĐT</th>
                            <th class="text-center">Địa chỉ</th>
                            <th class="text-center">Chi tiết</th>
                            <th class="text-center">Tổng tiền</th>
                            <th class="text-center">Freeship?</th>
                            <th class="text-center">Ngày tạo</th>
                            <th class="text-center">Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in orders)
                        {
                        <tr>
                            @if (item.is_completed)
                            {
                                <td class="text-center">
                                    <button class="btn btn-dark" disabled>Đã đăng</button>
                                </td>
                            }
                            else
                            {
                                <td class="text-center">
                                    <NavLink href="@item.ID">
                                        <button class="btn btn-warning">Đăng</button>
                                    </NavLink>
                                </td>
                            }
                            <td class="text-center">@item.ID</td>
                            <td class="text-center">@item.CREATEUSER</td>
                            <td>@item.customer_name</td>
                            <td class="text-center">@item.customer_tel</td>
                            <td>@item.customer_address</td>
                            <td>@item.detail</td>
                            <td class="text-center">@item.value</td>
                            <td class="text-center">
                                <input type="checkbox" disabled="disabled" value="@item.is_freeship">
                            </td>
                            <td>@item.CREATEDATE</td>
                            <td class="text-center">
                                <NavLink href="@item.ID">
                                    <button class="btn btn-warning">Sửa</button>
                                </NavLink>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            }
        </div>

    </div>
</div>
@code {
    private OrderDAO orderDAO = new OrderDAO();
    private List<OrderModel> orders = new List<OrderModel>();


    protected override async Task OnInitializedAsync()
    {
        orders = await orderDAO.GetAllOrder();
    }

}
