@page "/"

<h1>Danh sách đơn hàng</h1>
<div class="col-lg-12 control-section">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
            <NavLink href="addorder">
                <button class="btn btn-primary">Thêm đơn hàng</button>
            </NavLink>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="table-responsive">
            @if (orders.Count == 0)
            {
            <div class="text-center">
                <p><em>Empty...</em></p>
            </div>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>CTV</th>
                            <th>DETAIL</th>
                            <th>ADDRESS</th>
                            <th>PHONE</th>
                            <th>UPDATEDATE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in orders)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.CREATEUSER</td>
                                <td>@item.detail</td>
                                <td>@item.value</td>
                                <td>@item.customer_address</td>
                                <td>@item.customer_tel</td>
                                <td>@item.is_freeship</td>
                                <td>@item.is_completed</td>
                                @if (item.UPDATEDATE > item.CREATEDATE)
                                {
                                    <td>@item.UPDATEDATE</td>
                                }
                                else
                                {
                                    <td>@item.CREATEDATE</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

            }
        </div>

    </div>
</div>
@code {
    private OrderDAO orderDAO = new OrderDAO();
    private List<OrderModel> orders = new List<OrderModel>();


    protected override async Task OnInitializedAsync()
    {
        orders = await orderDAO.GetAllOrder();
    }

}
