@page "/addorder"

@using System.IO
@inject IToastService toastService
@inject NavigationManager navigationManager
<h3>Thêm đơn hàng</h3>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                <label>Mã CTV:</label>
                <select class="form-control" @bind="valueCTV">
                    <option value=""> </option>
                    @if (users != null)
                    {
                        @foreach (var item in users)
                        {
                            <option value="@item.ID" selected=@(valueCTV == item.ID)> @item.ID </option>
                        }
                    }
                </select>
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <label>Tên khách hàng</label>
                <input type="text" class="form-control" @bind-value="order.customer_name">
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <label>Số điện thoại</label>
                <input type="tel" class="form-control" @oninput="OnChangeTel">
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <label>Địa chỉ</label>
                <input type="text" class="form-control" @bind-value="order.customer_street">
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <label>Loại khác:</label>
                <select class="form-control" @bind="order.orther_type">
                    <option value="" disabled selected>Chọn lựa chọn</option>
                    <option value="Thu hộ Phương">Thu hộ Phương</option>
                    <option value="Thu hộ chị Long">Thu hộ chị Long</option>
                    <option value="Chuyển chị Liên">Chuyển chị Liên</option>
                    <option value="Chuyển chị Dung">Chuyển chị Dung</option>
                    <option value="Tiền mặt">Tiền mặt</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <label for="sel1">Tỉnh/Thành Phố:</label>
                <select class="form-control" @onchange="OnChangeProvince" value="@valueProvince">
                    <option value=""> </option>
                    @if (provinces != null)
                    {
                        @foreach (var item in provinces)
                        {
                            <option value="@item.code" selected=@(valueProvince == item.code)> @item.name </option>
                        }
                    }
                </select>
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <label for="sel1">Quận/Huyện:</label>
                <select class="form-control" @onchange="OnChangeDistrist" value="@valueDistrist">
                    <option value=""> </option>
                    @if (distrists != null)
                    {
                        @foreach (var item in distrists)
                        {
                            <option value="@item.code" selected=@(valueDistrist == item.code)> @item.name_with_type </option>
                        }
                    }
                </select>
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <label for="sel1">Phường/Xã:</label>
                <select class="form-control" @onchange="OnChangeWard" value="@valueWard">
                    <option value=""> </option>
                    @if (wards != null)
                    {
                        @foreach (var item in wards)
                        {
                            <option value="@item.code"> @item.name_with_type </option>
                        }
                    }
                </select>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                <label for="sel1">Phí vận chuyển:</label>
                <input type="text" class="form-control" placeholder="Phí vận chuyển" @bind-value="@fee" readonly="true">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <label for="sel1"><b>Kho lấy hàng:</b></label>
                <select class="form-control" @onchange="OnChangePickAddress">
                    @if (pickaddressList != null)
                    {
                        @foreach (var item in pickaddressList)
                        {
                            <option value="@item.pick_address_id"> @item.address </option>
                        }
                    }
                </select>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                <label for="sel1">Loại vận chuyển:</label>
                <select class="form-control" @onchange="OnChangeDeliveryOption">
                    <option value="road"> Ship thường </option>
                    <option value="fly"> Ship bay </option>
                </select>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                <label for="sel1">Số tiền:</label>
                <input type="number" class="form-control" @onchange="OnChangeValue" value="@order.value">
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                <label for="sel1">Khối lượng(kg):</label>
                <input type="number" class="form-control" step="0.2" @bind-value="@weight">
            </div>
        </div>
        <div class="row" style="margin-top:5px;">
            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                <label>Chi tiết đơn hàng:</label>
                <textarea class="form-control" rows="3" @onchange="OnChangeDetail" value="@order.detail"></textarea>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                <label>Số tiền thực thu:</label>
                <input type="number" class="form-control" placeholder="Số tiền thực thu" readonly="true" @bind-value="@realvalue">
            </div>
            <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1">
                <label>Freeship?</label>
                <input type="checkbox" class="form-control" @onchange="OnChangeFreeShip" checked="@order.is_freeship">
            </div>
        </div>
        <hr />
        <div class="row float-right">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <NavLink href="">
                    <button class="btn btn-dark">Trở về</button>
                </NavLink>
                <button class="btn btn-success" @onclick="BtnAddOrder">Lưu đơn</button>
            </div>
        </div>
    </div>
</div>
<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="2"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
@code {
    private OrderDAO orderDAO = new OrderDAO();
    private AddressDAO addressDAO = new AddressDAO();
    private UserDAO userDAO = new UserDAO();
    private OrderModel order = new OrderModel();
    private UserModel user = new UserModel();
    public List<Province> provinces { get; set; }
    public List<Distrist> distrists { get; set; }
    public List<Ward> wards { get; set; }
    public Province province { get; set; }
    public Distrist distrist { get; set; }
    public Ward ward { get; set; }
    private List<PickAddress> pickaddressList;
    private List<UserModel> users;
    private List<OrderModel> orders;

    private PickAddress pickaddress = new PickAddress();
    string valueProvince = null;
    string valueDistrist = null;
    string valueWard = null;
    string valuePickAdress = "4403235";
    string valueDeliveryOption = "road";
    string valueCTV = null;

    string pr = null;
    string di = null;
    string wa = null;
    int? realvalue = null;

    string fee = null;
    string weight = "0.1";
    #region toast
    private Toast toast = new Toast();
    private class Toast
    {
        public string header { get; set; }
        public string body { get; set; }
        public string type { get; set; }
    }

    #endregion


    protected override async Task OnInitializedAsync()
    {
        fee = 0.ToString();
        order = new OrderModel();
        user = new UserModel();

        pr = await ReadFileAsync("tinh_tp.json");
        di = await ReadFileAsync("quan_huyen.json");
        wa = await ReadFileAsync("xa_phuong.json");
        valueCTV = await ReadFileAsync("userID.txt");

        if (pr == null && di == null && wa == null)
        {
            pr = await addressDAO.GetJsonFile("https://raw.githubusercontent.com/madnh/hanhchinhvn/master/dist/tinh_tp.json");
            di = await addressDAO.GetJsonFile("https://raw.githubusercontent.com/madnh/hanhchinhvn/master/dist/quan_huyen.json");
            wa = await addressDAO.GetJsonFile("https://raw.githubusercontent.com/madnh/hanhchinhvn/master/dist/xa_phuong.json");
            await SaveFileAsync(pr, "tinh_tp.json");
            await SaveFileAsync(di, "quan_huyen.json");
            await SaveFileAsync(wa, "xa_phuong.json");
        }

        users = await userDAO.GetAllUser();
        user = await userDAO.GetUser(valueCTV);

        orders = await orderDAO.GetAllOrder();

        pickaddressList = await addressDAO.GetPickAddress();
        if (pr != null)
        {
            provinces = await addressDAO.GetProvince(pr);
        }
        province = new Province();
        distrist = new Distrist();
        ward = new Ward();

        toastService.ShowInfo("Lấy dữ liệu tỉnh thành thành công!");
    }

    #region Save-ReadFileAsync
    public async Task SaveFileAsync(string fileInput, string filename)
    {
        var backingFile = Path.Combine(System.Environment.GetFolderPath(System.Environment.SpecialFolder.Personal), filename);
        using (var writer = File.CreateText(backingFile))
        {
            await writer.WriteAsync(fileInput);
        }
    }

    public async Task<string> ReadFileAsync(string filename)
    {
        var backingFile = Path.Combine(System.Environment.GetFolderPath(System.Environment.SpecialFolder.Personal), filename);

        if (backingFile == null || !File.Exists(backingFile))
        {
            return null;
        }

        string outputFile;

        using (var reader = new StreamReader(backingFile, true))
        {
            outputFile = await reader.ReadToEndAsync();
        }

        return outputFile;
    }

    #endregion

    public async void OnChangeFreeShip(ChangeEventArgs e)
    {
        order.is_freeship = (bool)e.Value;
        if (order.is_freeship == true)
        {
            realvalue = order.value - Int32.Parse(fee);
        }
        else
        {
            realvalue = order.value;
        }
        wards = await addressDAO.GetWard(wa, valueDistrist);
    }

    public async void OnChangeTel(ChangeEventArgs e)
    {
        order.customer_tel = e.Value.ToString();
        try
        {
            var orderGetTel = orders.Where(x => x.customer_tel == e.Value.ToString()).FirstOrDefault();
            if (orderGetTel != null)
            {
                valueProvince = orderGetTel.customer_province_code;
                valueDistrist = orderGetTel.customer_distrist_code;
                distrists = await addressDAO.GetDistrist(di, valueProvince);
                wards = await addressDAO.GetWard(wa, valueDistrist);
                valueWard = orderGetTel.customer_ward_code;
                order.customer_street = orderGetTel.customer_street;
                order.customer_name = orderGetTel.customer_name;
                order.customer_distrist = orderGetTel.customer_distrist;
                order.customer_province = orderGetTel.customer_province;
                order.customer_ward = orderGetTel.customer_ward;
                fee = orderGetTel.feeship.ToString();
                order.feeship = orderGetTel.feeship;
                StateHasChanged();
                toastService.ShowInfo("Khách này từng mua hàng trước đây!");
            }
        }
        catch (Exception)
        {

        }
    }

    public void OnChangeDetail(ChangeEventArgs e)
    {
        order.detail = e.Value.ToString();
    }

    public void OnChangeValue(ChangeEventArgs e)
    {
        order.value = Int32.Parse(e.Value.ToString());
        if (order.is_freeship == true)
        {
            realvalue = order.value - Int32.Parse(fee);
        }
        else
        {
            realvalue = order.value;
        }
    }

    public async void OnChangeProvince(ChangeEventArgs e)
    {
        valueProvince = e.Value.ToString();
        distrists = new List<Distrist>();
        if (valueProvince != null)
        {
            if (wards != null)
            {
                wards = new List<Ward>();
            }
            valueDistrist = null;
            valueWard = null;
            distrists = await addressDAO.GetDistrist(di, valueProvince);
        }
    }

    public async void OnChangeDistrist(ChangeEventArgs e)
    {
        valueDistrist = e.Value.ToString();
        valueWard = null;
        wards = await addressDAO.GetWard(wa, valueDistrist);
    }

    public void OnChangeWard(ChangeEventArgs e)
    {
        valueWard = e.Value.ToString();
        ward = wards.Where(x => x.code == valueWard).FirstOrDefault();
        distrist = distrists.Where(x => x.code == valueDistrist).FirstOrDefault();
        province = provinces.Where(x => x.code == valueProvince).FirstOrDefault();
        order.customer_province_code = province.code;
        order.customer_distrist_code = distrist.code;
        order.customer_ward_code = ward.code;
        order.customer_province = province.name_with_type;
        order.customer_distrist = distrist.name_with_type;
        order.customer_ward = ward.name_with_type;
        ReloadFeeShip();
    }

    public void OnChangePickAddress(ChangeEventArgs e)
    {
        int pickAddressId = 0;
        valuePickAdress = e.Value.ToString();
        Int32.TryParse(valuePickAdress, out pickAddressId);
        pickaddress = pickaddressList.Where(x => x.pick_address_id == valuePickAdress).FirstOrDefault();
    }

    public void OnChangeDeliveryOption(ChangeEventArgs e)
    {
        valueDeliveryOption = e.Value.ToString();
        ReloadFeeShip();
    }

    public async void BtnAddOrder()
    {
        if (valueCTV == null || valueCTV == "")
        {
            toastService.ShowError("Chưa chọn Mã CTV!");
            return;
        }
        await SaveFileAsync(valueCTV, "userID.txt");

        order.feeship = Int32.Parse(fee);
        order.customer_address = order.customer_street + ", " + ward.path;
        order.weight = Decimal.ToInt32(decimal.Parse(weight.Replace(".", ",")) * 1000);
        order.pickaddress_id = valuePickAdress;
        pickaddress = pickaddressList.Where(x => x.pick_address_id == valuePickAdress).FirstOrDefault();
        order.pickaddress_name = pickaddress.address;
        order.delivery_option_id = valueDeliveryOption;

        order.CREATEDATE = DateTime.Now;
        order.CREATEUSER = valueCTV;
        order.ID = order.CREATEDATE.ToString("yyMMddHHmmss");
        if (order.orther_type != null || order.orther_type != "")
        {
            order.is_completed = true;
        }
        if (await orderDAO.AddOrder(order) == "success")
        {
            toastService.ShowSuccess("Thêm đơn hàng thành công!");
            order = new OrderModel();
            wards = new List<Ward>();
            distrists = new List<Distrist>();
            provinces = new List<Province>();
            realvalue = 0;
            await Task.Delay(2000);
            navigationManager.NavigateTo("/");
            //StateHasChanged();
        }
        else
        {
            toastService.ShowError("Có lỗi xảy ra xin thử lại");
        }
    }

    public void ReloadFeeShip()
    {
        GetFeeDelivery getfee = new GetFeeDelivery();
        getfee.pick_address_id = valuePickAdress;
        getfee.province = province.name_with_type;
        getfee.district = distrist.name_with_type;
        getfee.ward = ward.name_with_type;
        getfee.street = order.customer_street;
        getfee.weight = Decimal.ToInt32(decimal.Parse(weight.Replace(".", ",")) * 1000);
        getfee.transport = valueDeliveryOption;
        var a = JsonConvert.SerializeObject(getfee);
        var json = UploadOrderService.PostUpOrderRestAPI("https://services.giaohangtietkiem.vn/services/shipment/fee?", getfee);
        if (json.SelectToken("fee").SelectToken("fee").ToString() != fee)
        {
            toastService.ShowWarning("Phí ship mới là: " + json.SelectToken("fee").SelectToken("fee").ToString());
            fee = json.SelectToken("fee").SelectToken("fee").ToString();
            if (order.is_freeship == true)
            {
                realvalue = order.value - Int32.Parse(fee);
            }
            else
            {
                realvalue = order.value;
            }
        }

    }

    public class GetFeeDelivery
    {
        public string pick_address_id { get; set; }
        public string province { get; set; }
        public string district { get; set; }
        public string ward { get; set; }
        public string street { get; set; }
        public int weight { get; set; }
        public string transport { get; set; }
    }
}
