@page "/userview"
<h3>UserView</h3>

@inject NhuYShop.Model.UserModel model
<button class="btn btn-primary" @onclick="OpenModal">Open Modal</button>
<div class="container">
    @if (users == null)
    {
        <p><em>Empty...</em></p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>SOCIAL</th>
                        <th>PHONE</th>
                        <th>UPDATEDATE</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in users)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.NAME</td>
                            <td>@item.SOCIAL</td>
                            <td>@item.PHONE</td>
                            @if (item.UPDATEDATE != null)
                            {
                                <td>@item.UPDATEDATE</td>
                            }
                            else
                            {
                                <td>@item.CREATEDATE</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="CloseModal">Close</button>
            </div>
        </div>
    </div>
</div>
@code {
    private UserDAO userDAO = new UserDAO();
    private List<UserModel> users = new List<UserModel>();

    protected override async Task OnInitializedAsync()
    {
        users = await userDAO.GetAllUser();
    }

    #region Modal
    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void OpenModal()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void CloseModal()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
    #endregion
}
