@page "/userview"
<h3>Danh sách CTV</h3>
@using System.Globalization
@inject IToastService toastService
@inject NhuYShop.Model.UserModel model
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-8 col-md-9">
                <NavLink href="adduser">
                    <button class="btn btn-primary">Thêm CTV</button>
                </NavLink>
                <button class="btn btn-success" @onclick="BtnAllOrder">Tất cả</button>
            </div>
            <div class="col-4 col-md-3">
                <input type="month" class="form-control" min="2021-01" @oninput="OneChangeDate" value="@datepick.ToString("yyyy-MM")">
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Mã CTV</th>
                            <th class="text-center">Tên</th>
                            <th class="text-center">SĐT</th>
                            <th class="text-center">Tổng số đơn</th>
                            <th class="text-right">Giá trị đơn</th>
                            <th class="text-right">Hoa hồng</th>
                            <th class="text-center">Ngày tạo</th>
                            <th class="text-center">Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in users)
                        {
                        <tr>
                            <td class="text-center">@item.ID</td>
                            <td class="text-center">@item.NAME</td>
                            <td class="text-center">@item.PHONE</td>
                            <td class="text-center">@item.COUNTORDER</td>
                            <td class="text-right">@item.VALUEORDER.ToString("#,###")</td>
                            <td class="text-right">@item.COMISSION.ToString("#,###")</td>
                            <td class="text-center">@item.CREATEDATE</td>
                            <td class="text-center">
                                <button class="btn btn-warning" @onclick="@(() => BtnDelUser(item.ID))">Xóa</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="2"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
@code {
    private UserDAO userDAO = new UserDAO();
    private OrderDAO orderDAO = new OrderDAO();
    private List<OrderModel> orders = new List<OrderModel>();
    private List<UserModel> users = new List<UserModel>();
    DateTime datepick = DateTime.Now;
    protected override async Task OnInitializedAsync()
    {
        users = await userDAO.GetAllUser();
        orders = await orderDAO.GetAllOrder(datepick);
        foreach (var master in users)
        {
            foreach (var item in orders)
            {
                if (master.ID == item.CREATEUSER)
                {
                    master.VALUEORDER += item.value;
                    master.COUNTORDER += 1;
                    master.COMISSION += item.commission;
                }
            }
        }
    }

    public async void BtnAllOrder()
    {
        orders = await orderDAO.GetAllOrder();
        foreach (var master in users)
        {
            master.VALUEORDER = 0;
            master.COUNTORDER = 0;
            master.COMISSION = 0;
            foreach (var item in orders)
            {
                if (master.ID == item.CREATEUSER)
                {
                    master.VALUEORDER += item.value;
                    master.COUNTORDER += 1;
                    master.COMISSION += item.commission;
                }
            }
        }
        StateHasChanged();
        toastService.ShowSuccess("Lấy tất cả đơn hàng thành công!");
    }

    public async void OneChangeDate(ChangeEventArgs e)
    {
        datepick = DateTime.ParseExact(e.Value.ToString(), "yyyy-MM", CultureInfo.InvariantCulture);
        orders = await orderDAO.GetAllOrder(datepick);

        foreach (var master in users)
        {
            master.VALUEORDER = 0;
            master.COUNTORDER = 0;
            master.COMISSION = 0;
            foreach (var item in orders)
            {
                if (master.ID == item.CREATEUSER)
                {
                    master.VALUEORDER += item.value;
                    master.COUNTORDER += 1;
                    master.COMISSION += item.commission;
                }
            }
        }
        StateHasChanged();
        toastService.ShowSuccess("Lấy các đơn hàng tháng "+datepick.ToString("MM/yyyy")+" thành công!");
    }

    public async void BtnDelUser(string ID)
    {
        if (await userDAO.DeleteUser(ID) == "success")
        {
            toastService.ShowSuccess("Xóa CTV: " + ID + ". thành công!");
            users = await userDAO.GetAllUser();
            StateHasChanged();
        }
    }

}
