@page "/userview"
<h3>UserView</h3>

@inject NhuYShop.Model.UserModel model
<button class="btn btn-primary" @onclick="OpenModal">Open Modal</button>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>SOCIAL</th>
                    <th>PHONE</th>
                    <th>UPDATEDATE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in users)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.NAME</td>
                        <td>@item.SOCIAL</td>
                        <td>@item.PHONE</td>
                        @if (item.UPDATEDATE > item.CREATEDATE)
                        {
                            <td>@item.UPDATEDATE</td>
                        }
                        else
                        {
                            <td>@item.CREATEDATE</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm CTV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                        <input type="text" class="form-control" placeholder="ID" @bind-value="user.ID">
                    </div>
                    <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                        <input type="text" class="form-control" placeholder="Tên" @bind-value="user.NAME">
                    </div>
                    <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                        <input type="text" class="form-control" placeholder="Link FB" @bind-value="user.SOCIAL">
                    </div>
                    <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                        <input type="text" class="form-control" placeholder="SĐT" @bind-value="user.PHONE">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="BtnAddUser">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="CloseModal">Close</button>
            </div>
        </div>
    </div>
</div>
@code {
    private UserDAO userDAO = new UserDAO();
    private List<UserModel> users = new List<UserModel>();
    private UserModel user = new UserModel();

    protected override async Task OnInitializedAsync()
    {
        users = await userDAO.GetAllUser();
    }

    #region Modal
    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void OpenModal()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void CloseModal()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    public async void BtnAddUser()
    {
        user.CREATEDATE = DateTime.Now;
        user.CREATEUSER = "ADMIN";
        await userDAO.AddUser(user);
        users = await userDAO.GetAllUser();
        //StateHasChanged();
    }
    #endregion
}
